.content {
    box-sizing: content-box;
    margin-top: 80px;
    padding-bottom: 60px;

    display: flex;
    justify-content: space-between;

    text-align: start;
}

.greetings > div {
    padding-bottom: 10px;

    max-width: 85%;
    text-align: justify !important;
}

.greetings {
    padding-top: 50px;

    color: var(--color-font-secondary);
    flex: 452;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {
    width: 307px;
}

.user-image {
    flex: 452;

    max-height: 350px;
    max-width: 350px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.user-image img {
    height: auto;
    width: 100%;
    border-radius: 100%;
}

@media screen and (max-width: 1023px) {
    .content {
        max-width: 425px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    .greetings {
        padding: 0;
    }
    .greetings > div {
        max-width: 100%;
    }

    .greetings h2 {
        text-align: center;
    }
    .header {
        text-align: center;
        max-width: initial;
    }
    .user-image {
        height: 100%;
        width: 100%;

        justify-content: center;
    }
    .button {
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    .content {
        min-height: calc(100vh - 70px - 80px - 80px - 80px - 104px - 60px); 
        /* look at this >:^) This is a bed decision ahahahahhaha*/
    }
}
