.card {
    max-width: 445px;
    text-align: start;
}

.header {
    min-height: 116px;
    max-width: 421px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    height: auto;
    max-height: 300px;
    width: 100%;
    max-width: 445px;

    padding-bottom: 20px;
}

.button {
    width: 160px;
}

@media screen and (max-width: 1023px) {
    .button {
        width: 100%;
    }
}
