.button {
    cursor: pointer;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    
    background-color: var(--color-primary); 
    color: var(--color-font-secondary);
}
