* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3f8e00;
  --color-secondary: #62ba1b;

  --color-font-primary: #000;
  --color-font-secondary: #fff;
  --color-font-additional: #9c9c9c;
  --color-font-placeholder: #757575;

  --color-background-body: #080808;
  --color-background-body-secondary: #f5f5f5;
  --color-background-additional: #1b1b1b;
  --color-background-field: #f8f8f8;

  --color-border-field: #d8d8d8;


  --break-mobile: 768px;
  --break-tablet: 1023px;
  --break-laptop: 1280px;
  --break-desktop: 1440px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
}